.task {
  background: var(--bg-app);
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  gap: 1.3em;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1;
    flex-grow: 1;
    gap: 1.3em;
    span {
      margin-top: 4px;
      line-height: 1.3px;
    }
  }
  @media (min-width: 767px) {
    padding: 1.05rem 1.3rem;
  }
}
