/* Reset styles */
@import-normalize;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --f-family: 'Josefin Sans', sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;

  /* Primary colors */
  --header-color: hsl(60, 100%, 100%);
  --primary-color: hsl(220, 98%, 61%);
  --primary-gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* Light Theme Colors */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* dark Theme Colors */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --Light-grayish-blue: hsl(234, 39%, 85%);
  --Light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);

  /* Border radius */
  --sm-radius: 0.278rem;
  --circle: 50%;
}

body {
  position: relative;
  margin: 0;
  font-size: 18px;
  font-family: var(--f-family);
}

body[data-theme='light'] {
  background-color: var(--very-light-gray);
  .curtain {
    background-image: url('./images/bg-mobile-light.jpg');
    @media (min-width: 767px) {
      background-image: url('./images/bg-desktop-light.jpg');
    }
  }
}
body[data-theme='dark'] {
  background-color: var(--very-dark-blue);
  div.curtain {
    background-image: url('./images/bg-mobile-dark.jpg');
    @media (min-width: 767px) {
      background-image: url('./images/bg-desktop-dark.jpg');
    }
  }
}

.container {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 1.3rem;
}

.curtain {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 767px) {
    height: 300px;
  }
}
